/* the * will apply to all things on the page
*{
    margin:0;
    padding:0;
}*/

body{
    background-color:#f4f4f4;
    color:#555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    /*or */
    font: normal 16px Arial, Helvetica, sans-serif;

    line-height: 1.6em;
    margin:0;
}

/*apply to all global links*/
a{
    text-decoration: none;
    color: #000;
}

/*when hover over link will turn red*/
a:hover{
    color: red;
}

a:active{
    color: green;
}

a:visited{

}

/*use container to set margin of other objects*/
.container{
    width:80%; /*by making a percent will ame it responsive*/
    margin:auto; /*even amount of spacing on each side*/
}

.clr{
    clear:both;
}

.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background: red;
    color:#fff
}

.box-1{
    background-color: #333;
    color:#fff;

    border-right:5px red solid;
    border-left:5px red solid;
    border-top:5px red solid;
    border-bottom:5px red solid;

    /*or */
    border-width: 3px; /*set all width to 3px*/
    border: bottom width 10px;
    border-top-style: dotted;

    border: 5px red solid;

    /*padding*/
    padding: 20px;
    
    /*margin*/
    margin:20px 0;

    

    /*padding- space between element and its edge 
boarder- space utside padding
margin- spacing outsude board */

}

/*will target on h1 in class box-1*/
.box-1 h1{
    font-family: Tahoma;
    font-weight:800;
    font-style:italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.10em;
    word-spacing: 1em;
}

.box-2{
    border:3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: white;

}

.catagories{
    border: 1px #ccc solid;
    padding: 10px;
    border-radius: 15px;

}

.catagories h2{
    text-align: center;
}

.catagories ul{
    padding: 0;
    padding-left: 20px;
    list-style: square;
    list-style:none;

}

.catagories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('check.png');
}

.my-form{
    padding: 20px;
}

.my-form-form-group{
    padding-bottom: 15px;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.block{
    float:left;
    width:33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box; /*takes in padding and border and applies to the border and not adding on it- flexbox does this*/
}

/*use the # for id's*/
#main-block{
    float:left;
    width:70%;
}

#sidebar{
    float:right;
    width:30%;
    background-color: #333;
    color:#fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    width: 800px;
    height:500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image:url("background.png") ; 
    background-repeat: no-repeat;
    background-position: center center;
    /*if do not postion relative will push a item outside of its object- need to set relative to the box that it is in*/
}

.p-box h1{
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 200px;
}

/*fixing means that wherever scroll will always be on the page*/
.fix-me{
    position: fixed;
    top: 800px;
}

.my-list li:first-child{
    background: red;
}

.my-list li:last-child{
    background: blue;
}

.my-list li:nth-child(even){
    background: yellow;
}


/*postioning 
static- assigns to default
relative- relative to normal postion- add properties like left right 
absolute
fixed- will always be there 
initial- sets to defaul