<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Industry 4.0 Web Service">
        <meta name="keywords" content="Industry 4.0, Data Science, Data Engineering, Manufacturing">
        <meta name="author" content="Ben Costa">
        

        <title>
            Plant of the Future | {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/pof_style.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div id= "branding">
                    <h1><span class = "highlight">POF</span> Web Solutions</h1> <!--span is inline level elements- if wrapped in div would go in own line-->
                </div>
                    <div id="search_bar">
                            <form>
                                <input type="search" placeholder="Search">
                                <button type="submit" class="button_2"><img src = "static/styles/search_image3.png"></button>
                            </form>
                        </div>

                        <nav>
                            <ul>
                                <li ><a href="/">Home</a></li>
                                <li ><a href="/about">About</a></li>
                                <li ><a href="{{ url_for('login_page') }}">Log In</a></li>
                            </ul>
                        </nav>
                    </div>
        </header>

        <section id='showcase'>
            <div class='container'>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}    
                            <div class = "alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <h1>Industry 4.0 Solutions</h1>
                <p>Bringing manufacturing firms into the future through the utilization of emerging technologies to connect and manage assets.</p>
            </div>
        </section>

        <section id="newsletter">
            <div class='container'>
                <h1>Suscribe to our mailing list</h1>
                <form>
                    <input type="email" placeholder="Enter Email...">
                    <button type="submit" class="button_1">Subscribe</button>
                </form>
            </div>
        </section>
        <!--block one here- change for about page-->


        {% block body_contents %}

        {% endblock %}


        <!--<section id="services">
            <div class="container">
                <div class="box">
                    <img src="static/styles/digitaltwins.png">
                    <h3>Remote Asset Monitoring</h3>
                    <p>Leverage IIOT and digital twins to monitor and make critical process decisions from around the globe</p>
                </div>
                <div class="box">
                    <img src="static/styles/datasc.png">
                    <h3>Process Data Insight</h3>
                    <p>Use the power of the cloud to extract data from your process while avoiding common data infrastructure limitations</p>
                </div>
                <div class="box">
                    <img src="static/styles/security.png">
                    <h3>Security</h3>
                    <p>Feel secured knowing your data is safe from ever increasing cybersecurity threats</p>
                </div>
            </div>
        </section>-->
        
        <footer>
            <p>
                POF TECHNOLOGIES, Copyright &copy; 2021
            </p>
            
        </footer>

    </body>
</html>