<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Industry 4.0 Web Service">
        <meta name="keywords" content="Industry 4.0, Data Science, Data Engineering, Manufacturing">
        <meta name="author" content="Ben Costa">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        
        <title>
            Plant of the Future | {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/pof_style.css') }}">
    </head>
    <body>

        <header>
            <div class="container">
                <div id= "branding">
                    <h1><span class = "highlight">POF</span> Web Solutions</h1> <!--span is inline level elements- if wrapped in div would go in own line-->
                </div>
                    <div id="search_bar">
                            <form>
                                <input type="search" placeholder="Search">
                                <button type="submit" class="button_2"><img src = "static/styles/search_image3.png"></button>
                            </form>
                        </div>

                        <nav>
                            <ul>
                                <li ><a href="/">Home</a></li>
                                <li ><a href="/about">About</a></li>
                                <li ><a href="/login">Log In</a></li>
                            </ul>
                        </nav>
                    </div>
        </header>

        <section id='showcase_login'>     
            <div class='container'>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}    
                            <div class = "alert alert-{{ category }}">
                                {{ message }}
                             </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                    <div class = "content-section">
                        <!-- 
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <ul class=flashes>
                                {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                        -->
                        

                        
                        <h1>Login</h1>
            
                        <form method = "POST" action = "">
                        
                            {{ form.hidden_tag() }}
                            
                            
                            <fieldset class="form-group">
                                <!--<legend class="border-bottom mb-4">Login</legend>-->
                                <div class="form-group" >
                                    {{form.email.label(class="form-control-label")}}

                                    {% if form.email.errors %}
                                        {{form.email(class="form-control form-control-lg is-invalid")}}    
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors%}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.email(class="form-control form-control-lg")}}
                                    {% endif %}
                                </div>

                                <div class="form-group" >
                                    
                                
                                    {{form.password.label(class="form-control-label")}}

                                    {% if form.password.errors %}
                                        {{form.password(class="form-control form-control-lg is-invalid")}}    
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors%}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.password(class="form-control form-control-lg")}}
                                    {% endif %}

                                </div>
                            
                            </fieldset>
                                
                                <div class="form-group" >
                                    {{form.submit(class="btn btn-outline-info") }}
                                </div>

                        </form>

                        <div class = "register_link">

                        <small class="link_text">
                            Already Have An Account? <a class="link" href="{{url_for('registration_page')}}">Register</a>
                        </small>
                    </div>
            </div>
        </section>

        
        <footer>
            <p>
                POF TECHNOLOGIES, Copyright &copy; 2021
            </p>
            
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>