<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Industry 4.0 Web Service">
        <meta name="keywords" content="Industry 4.0, Data Science, Data Engineering, Manufacturing">
        <meta name="author" content="Ben Costa">
        
        <title>
            Plant of the Future | {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/pof_style.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div id= "branding">
                    <h1><span class = "highlight">POF</span> Web Solutions</h1> <!--span is inline level elements- if wrapped in div would go in own line-->
                </div>
                    <div id="search_bar">
                            <form>
                                <input type="search" placeholder="Search">
                                <button type="submit" class="button_2"><img src = "static/styles/search_image3.png"></button>
                            </form>
                        </div>

                        <nav>
                            <ul>
                                <li ><a href="/">Home</a></li>
                                <li ><a href="/about">About</a></li>
                                <li ><a href="login.html">Log In</a></li>
                            </ul>
                        </nav>
                    </div>
        </header>

        <section id='showcase_login'>
            <div class='container'>
                <div id = "login_container">
                    <!--
                        
                    -->

                    
                    <h1>Login</h1>
          
                    <form method = "POST" action = "">
                    
                    {{ form.hidden_tag() }}
                    
                    
                    <label for= "Email">Email:</label><br>
                    <input type="email" id = "email" placeholder="Enter Email..."><br>
                    <label for= "password">Password:</label><br>
                    <input type="password" id = "password" placeholder="Enter Password..."><br>
                    <button type="submit" class="button_1">Login</button> 



                </form>

                <div class = "register_link">

                    <small class="link_text">
                        Already Have An Account? <a class="link" href="{{url_for('registration_page')}}">Register</a>
                    </small>

                </div>

            </div>
            </div>
        </section>

        
        <footer>
            <p>
                POF TECHNOLOGIES, Copyright &copy; 2021
            </p>
            
        </footer>
    </body>
</html>