{% extends "base.html" %}

{% block title %}About{% endblock %}


{% block body_contents %}
        <section id="info">
            <div id="sidebar">
                <h1>Our Histroy</h1>
                <h2>A History of Innovation</h2>
                <p>
                    POF Inc started with the goal of bringing the 
                    aniquity out of chemical manufacturing. Having 
                    seen first hand the struggled of the chemical 
                    industry in adapting new technologies this 
                    application was created with the end user in 
                    mind. Allowing for ease of connectivity to 
                    existing assets while at the same time providing
                    companies with the power to utilize the unused data
                    to drive value and innovations.
                </p>
                <h2>2019</h2>
                <p>
                    Our founder started his career in chemical Manufacturing
                    and wittnessed the lack of technological progress in the 
                    manufacturing industries.
                </p>
                <h2>2021</h2>
                <p>
                    Started the creation of the POF application.
                </p>

            </div>
            
            <div id="contents" > 
                <div id="values">
                    <h1>Our Values</h1>
                    <p>Take pride in the work we do.</p>
                    <p>The customer is first.</p>
                    <p>Continual improvement.</p>
                    <p>Be stewards of the community around us.</p>
                </div>
                <div id="expertise">
                    <h1>Area of Expertise</h1>
                    <p>Chemical Manufacturing</p>
                    <p>Semiconductor Manufacturing</p>
                    <p>Pharmacutical/Biological Manufacturing</p> 
                    <p>IIOT</p>
                    <p>ML/AI</p>
                </div>
                <div id="postions">
                    <h1>A Growing Firm</h1>
                    <p>
                        We are a constantly growing company and 
                        are in need to strong talent. 
                        Please send requests to POFTechnolgies@gmail.com.
                    </p>
                </div>

            </div>

        </section>
{% endblock %}